<nav class="bg-gray-800" data-controller="menu">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button" data-menu-target="mainButton"
                    data-action="click->menu#toggle click@window->menu#hide"
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <a href="<%= root_path %>">
                        <%= image_tag 'logo.png', class: 'block lg:hidden h-8 w-auto rounded-md' %>
                    </a>
                    <a href="<%= root_path %>">
                        <div class="lg:flex items-center bg-white rounded-md hidden">
                            <%= image_tag 'logo.png', class: 'h-8 w-auto rounded-tl-md rounded-bl-md' %>
                            <h2 class="bg-white text-blue-700 px-2 text-sm font-medium">QuickStart</h2>
                        </div>
                    </a>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a href="<%= features_path %>"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">Features</a>
                        <a href="<%= team_path %>"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Team</a>

                        <a href="<%= projects_path %>"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>

                    </div>
                </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <a href="https://github.com/MA-Ahmad/quickstart-rails-tailwind" target="_blank">
                    <button
                        class="bg-gray-800 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                        <span class="sr-only">View code</span>
                        <span class="text-3xl">
                            <i class="fab fa-github"></i>
                        </span>
                    </button>
                </a>
                <% if user_signed_in? %>
                <div class="ml-5 relative">
                    <div>
                        <button data-menu-target="profileButton"
                            data-action="click->menu#toggle click@window->menu#hide" type="button"
                            class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                src="https://avatars2.githubusercontent.com/u/37842853?v=4" alt="user image">
                        </button>
                    </div>
                    <div data-menu-target="profileDropdown"
                        class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a href="<%= profile_path %>" class="block px-4 py-2 text-sm text-gray-700"
                            role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                        <a href="<%= settings_account_path %>" class="block px-4 py-2 text-sm text-gray-700"
                            role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                        <a href="<%= destroy_user_session_path %>" data-method="delete"
                            class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                            id="user-menu-item-2">Sign out</a>
                        <%#= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="sm:hidden hidden" id="mobile-menu" data-menu-target="mainDropdown">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="<%= features_path %>" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Features</a>

            <a href="<%= team_path %>"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

            <a href="<%= projects_path %>"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

        </div>
    </div>
</nav>