<div class="sm:w-5/6 lg:w-1024 mx-auto py-6 px-6 space-y-6">
  <div>
    <h2 class="heading items-center justify-center text-4xl font-bold">Settings
    </h2>
  </div>
  <div class="grid lg:grid-cols-3 sm:grid-cols-5 gap-4">
    <div class="col-span-1">
      <div class="px-2 py-2 space-y-3 bg-white border rounded-lg shadow-sm">
        <div class="flex flex-col space-y-2">
          <!-- <button class="group bg-gray-500 focus:bg-gray-300 px-3 py-2 rounded-md">
            <a href="#" class="text-white group-focus:text-yellow-300 text-sm font-medium"
              aria-current="page">Profile</a>
          </button> -->
          <%= link_to "Account", settings_account_path, class: ["hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium", ("text-white bg-gray-700 focus:bg-gray-800" if request.path == settings_account_path)] %>
          <a href="#"
            class="text-gray-800 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Email</a>
          <a href="#"
            class="text-gray-800 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Password</a>
        </div>
      </div>
    </div>
    <div class="lg:col-span-2 sm:col-span-4 space-y-5">
      <div class="w-full px-4 py-4 space-y-5 bg-white border rounded-lg shadow-sm">
        <div>
          <h2 class="heading items-center justify-center text-3xl font-bold">Profile
          </h2>
        </div>
        <%= render "devise/shared/error_messages", resource: @user %>
        <%= form_for(@user, url: user_path, html: {method: :put, class: "space-y-4"}) do |f| %>
        <div>
          <%= f.label :first_name, class: "label" %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First Name", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= f.label :last_name, class: "label" %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last Name", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= f.submit "Update", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>

        <% end %>
      </div>

      <div class="w-full px-4 py-4 space-y-5 bg-white border rounded-lg shadow-sm">
        <div>
          <h2 class="heading items-center justify-center text-3xl font-bold">Email
          </h2>
        </div>
        <%= form_for(@user, url: user_path, html: {method: :put, class: "space-y-4"}) do |f| %>
        <div>
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <div class="flex items-center">
            <%= f.label :current_password, class: "label" %>
            <span class="text-xs pl-1 text-grey-dark"><em>(we need your current password to confirm your
                changes)</em></span>
          </div>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "******", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= f.submit "Update", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>

        <% end %>
      </div>

      <div class="w-full px-4 py-4 space-y-5 bg-white border rounded-lg shadow-sm">
        <div>
          <h2 class="heading items-center justify-center text-3xl font-bold">Password
          </h2>
        </div>
        <%= form_for(@user, url: :update_password, html: {class: "space-y-4"}) do |f| %>
        <div>
          <div class="flex items-center">
            <%= f.label :current_password, class: "label" %>
            <span class="text-xs pl-1 text-grey-dark"><em>(we need your current password to confirm your
                changes)</em></span>
          </div>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "******", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <div class="flex items-center">
            <%= f.label :new_password, class: "label" %>
            <% if @minimum_password_length %>
            <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %>
                characters minimum)</em></span>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "******", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "******", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <%= f.submit "Update", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>

        <% end %>
      </div>

    </div>
  </div>
</div>